@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.chatbotIcon {
  display: flex;
  background-color: blue;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.chatbotIcon:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: transform 0.3s ease;
  bottom: 18px;
  right: 18px;
  align-items: center;
  justify-content: center;
}

/* when chabot window is closed */
.chatbotWindow {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  height: 75vh;
  width: 50vh;
  border-radius: 10px;
  position: fixed;
  bottom: 96px;
  right: 20px;
  z-index: 1;
  box-shadow: 0 0 10px 1px rgba(70, 55, 55, 0.3);
}
.chatbotHeader {
  display: flex;
  position: absolute;
  background-color: blue;
  height: 50px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 2;
  justify-content: flex-start;
  align-items: center;
}

.chatbotBody {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -8px;
}

.question {
  display: flex;
  width: fit-content;
  position: relative;
  color: white;
  /* margin-top: -10px; */
  margin-left: 8px;
  background-color: #16325b;
  border-radius: 10px;
  padding: 6px 10px;
  max-width: 70%;
  font-size: 15px;
}

.optionsContainer {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 8px;
  gap: 4px;
}

.option {
  width: fit-content;
  color: #ffffff;
  background-color: #227b94;
  border-radius: 10px;
  padding: 6px 10px;
  position: relative;
  margin-top: -10px;
  font-size: 15px;
}

.answer {
  display: flex;
  width: fit-content;
  position: relative;
  color: white;
  margin-right: 8px;
  margin-left: 8px;
  background-color: #ff6500;
  border-radius: 10px;
  padding: 6px 10px;
  max-width: 70%;
  font-size: 15px;
  align-self: flex-end;
  margin-top: -10px;
  margin-bottom: -10px;
}
