.chatbotIcon {
  display: flex;
  background-color: blue;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
}

.chatbotIcon:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition: transform 0.3s ease;
  bottom: 18px;
  right: 18px;
  align-items: center;
  justify-content: center;
}

.chatbotWindow {
  display: flex;
  background-color: rgb(255, 255, 255);
  height: 75vh;
  width: 50vh;
  border-radius: 10px;
  position: fixed;
  bottom: 90px;
  right: 20px;
  z-index: 1;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);
}

.chatbotHeader {
  display: flex;
  background-color: blue;
  height: 50px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  position: relative;
  z-index: 2;
}
